@use "../variables/variables.scss" as *;
@use '../mixins/mixins.scss' as * ;


.adidasBlackT{
    width: 100%;
    @include center; 
    flex-direction: column;
    position: relative;
    user-select: none;
    .topSide{
        margin-top: 40px;
        width: 70%;
       @include center;
       align-items: flex-start;
       justify-content: space-between;
        .productImgs{
            max-width: 50%;
      
            .imgTop{
                @include center; 
                >div{
                    position: relative;
                .productImg{
                    max-width: 468px;
                    height: 468px;
                    border-radius: 3px;
                    margin-right: 20px
                }
                .img360{ 
                    @include img360;

                
            }
            }
            }
            .imgBottm{
                @include center;
                justify-content: space-between ;
                flex-direction: row;
                margin-top: 20px;
                
                
                .sliderArrow{
                    width: 15px;
                    height: 24px;
                    cursor: pointer;
                }
                .sliderImg{
                    height: 100px;
                    width: 100px;
                    cursor: pointer;
                }
                
            }
        }
        .productInfo{
            margin-left: 70px;
           
            width: 50%;
            
            .infoOne{
                @include center;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                border-bottom: .5px solid #D9D9D9;
                .name {
                    img{
                        width: 60px;
                        height: 40px;
                        margin-bottom: 10px;
                    }
                    h3{
                        font-size: 18px;
                        margin: 0;
                    }
                    p{
                        font-size: 16px;
                        color: #A7A9AC;
                        margin-bottom: 5px;
                    }
                }
                .rate{
    
                   
                    @include center;
                    justify-content: space-between;
                    span{
                        font-weight: bold;
                        font-size: 17px;
                        margin: 0 35px 0 25px;
                    }
                    p{
                        color: #575756;
                        font-size: 15px;
                        
                    }
                }
                .price{
                    @include center;
                   overflow: hidden;
                    justify-content: space-between;
                    h2{
                        font-size: 30px;
                        font-weight: bold;
                        margin-right: 20px;
                        color: $primary-color;
                    }
                    s{
                        color: #A7A9AC;
                        font-size: 16px;
                        margin-right: 20px;
                    }
                    .offer{
                        @include center;
                        width: 77px;
                        height: 27px;
                        background-color: $secondary-color;
                        color: black;
                        border-radius: 4px;
                        font-weight: bold;
                    }
                }
            }
            .sizes{
                @include center;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                width: 100%;
                border-bottom: .5px solid #D9D9D9;
                h2{
                    font-size: 18px;
                    font-weight: bold;
                }
                .selectSize{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap

                } label{
                    @include center;
                    margin: 8px;
                    justify-content: space-between;
                input{
                    display: none;
                }
                p{
                    cursor: pointer;
                    @include center;
                    border: 0.5px solid #D9D9D9;
                    width: 60px;
                    height: 60px;
                    font-size: 10px;
                    border-radius: 30px;
                    font-weight: bold;
                    color: $primary-color;
                
                }
            }
            input:checked + p{
                    @include center;
                    background-color: #ECECEC;
                    width: 60px;
                    height: 60px;
                    font-size: 10px;
                    border-radius: 30px;
                    font-weight: bold;
                    color: black;
                    cursor: pointer;
            }
            }
            .colors{
                @include center;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                width: 100%;
                border-bottom: .5px solid #D9D9D9;
                .selectColor{
                    display: flex;
                    flex-direction: row-reverse;
                }
                h2{
                    font-size: 18px;
                    font-weight: bold;
                }
                label{
                    

                    input{
                        display: none;
                    }
                    img{
                        width: 80px;
                        height: 80px;
                        margin-right: 15px;
                        border-radius: 40px;
                        cursor: pointer;
                        margin-bottom: 10px;
                    }
                }
                input:checked + .imge{
                    cursor: pointer;
                    width: 80px;
                    height: 80px;
                    margin-right: 15px;
                    border-radius: 40px;
                    border: 1px solid $primary-color;
                }
            }
            .quantity{
                @include center;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                
                width: 100%;
                h2{
                    font-size: 18px;
                    font-weight: bold;
                    text-align: start
                    ;
                    width: 100%;
                }
                .counter{
                    @include center;
                    justify-content: space-between;
                    background-color: #F5F5F5;
                    border: 0.5px solid #D9D9D9;
                    width: 252px;
                    height: 48p;
                    border-radius: 24px;
                    span{
                        @include center;
                        justify-content: center;
                        width: 38px;
                        height: 38px;
                        border-radius: 50%;
                        background-color: $secondary-color;
                        color: $primary-color;
                        margin: 5px;
                        font-size: 20px;
                        font-weight: bold;
                        text-align: center;
                        cursor: pointer;

                    }
                    P{
                        font-weight: bold;
                        color: $primary-color;
                    }
                }
                .buttons{
                    @include center;
                    
                    .cart{
                        width: 100%;
                        height: 52px;
                        border-radius: 27px;
                        background-color: $primary-color;
                        color: white;
                        font-weight: bold;
                        font-size: 16px;
                        border:none;
                        cursor: pointer;
                        margin: 20px 10px 0 0 ;
                    }
                    .store{
                        width: 100%;
                        height: 52px;
                        border-radius: 27px;
                        background-color: $secondary-color;
                        color: $primary-color;
                        font-weight: bold;
                        font-size: 16px;
                        border:none;
                        cursor: pointer;
                        margin: 20px 0 0 10px ;

                    }
                }
            }
        }
        
    }
    .bottomSide{
        margin-top: 20px;
        width: 70%;
       @include center;
       align-items: flex-start;
       flex-direction: column;
       justify-content: space-between;
       
       
       .bottomHeader{
        h1{
            font-size: 28px;
            font-weight: bold;
            color: $primary-color;
            margin-bottom: 3px;
        }
        p{
            font-size: 22px;
            color: #575756;
            margin-top: 0;
        }
       }

       .bottomContent{
        @include center;
        width: 100%;
        justify-content: flex-start;
        overflow-x: scroll;
        

        
        

        .similarCart{
            @include center;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            background: #FFFFFF;
            border: 0.75px solid #ECECEC;
            width: 100%;
            padding: 7px;
            margin: 10px;
        .imgs{
            position: relative;
            width: 100%;
            .centerImg{
                width: 100%;
                @include center;
                .img360{
                    @include img360;
                    width: 40px;
                    height: 40px;
                    left: 15px;
                    top: 15px;
    
                }
                }
            
        }
        h6{
            font-size: 14px;
            font-weight: bold;
            margin: 0 0 0 10px;
        }
        .priceLogo{
            width: 100%;
            @include center;
            justify-content: space-between;
            .price{
                @include center;
                flex-direction: column;
                margin-bottom: 10px;
                p{
                    margin: 10px 10px 0 0;
                    font-size: 20px;
                    color: $primary-color;
                    font-weight: bold;
                }
                div{
                    @include center;
                    s{
                        font-size: 14px;
                        color: #A7A9AC;
                        margin-left: 10px;

                     
                    }
                    span{
                        @include center;
                        width: 52px;
                        height: 18px;
                        border-radius: 3px;
                        background-color: $secondary-color;
                        margin-left: 20px;
                        p{
                            font-size: 10px;
                            margin: 0;
                        }

                    }
                }
            }
           
        }
        .rate{
            @include center;
            width: 100%;
            justify-content: space-evenly;

            span{
                font-weight: bold;
                font-size: 14px;
            }
           }
           .picked{
            @include center;
            width: 100%;
            flex-direction: row;
            label{
                font-weight: bold;
            }
           }
       }
     
    }
    .bottomContent::-webkit-scrollbar{
        width: 100%;
        height: 4px;
        border: 6px solid $primary-color;
        
    }
    .bottomContent::-webkit-scrollbar-track {
        background-color:#D9D9D9;
        
        
      }
      .bottomContent::-webkit-scrollbar-thumb{
        background-color: $primary-color;
        border-radius: 100px;
        width: 50%;
        height: 20px;
        border: 6px solid $primary-color;
    
  
      }
    }
   
}

 @media screen and (max-width :1050px) {
    .adidasBlackT .topSide .productInfo .sizes label p{
        width: 40px;
        height: 40px;
        text-align: center;
    }
    .adidasBlackT .topSide .productInfo .sizes input:checked + p{
        width: 40px;
        height: 40px;
        text-align: center;
    }
    .adidasBlackT .topSide .productImgs .imgTop > div .productImg{
        width: 300px;
        height: 300px;
    }
    .adidasBlackT .topSide .productImgs .imgBottm .sliderImg{
        width: 50px;
        height: 50px;
    }
    .adidasBlackT .topSide .productInfo .infoOne .price .offer{
        font-size: 10px;
    }
    .adidasBlackT .topSide .productInfo .colors input:checked + .imge{
        width: 40px;
        height: 40px;
    }
    .adidasBlackT .topSide .productInfo .colors label img{
        width: 40px;
        height: 40px;
    }
    .adidasBlackT .topSide .productInfo .quantity .counter{
        width: 170px;
    }
    .adidasBlackT .bottomSide .bottomContent .similarCart img .imgProducts {
        width: 100px;
        height: 100px;
        
    }
 }
 @media screen and (max-width :600px) 
{
    
    .adidasBlackT .topSide .productImgs .imgTop > div .productImg{
        width: 150px;
        height: 150px;
        margin-left: 70px;
    }
    .adidasBlackT .topSide .productImgs{
        width: 30%;
    }
    .adidasBlackT .topSide .productImgs .imgTop > div .img360{
        width: 30px;
        height: 30px;
        top:5px;
        left: 5px;
    }
    .adidasBlackT .topSide .productInfo .infoOne .rate{
        flex-direction: row;
    }
    .adidasBlackT .topSide .productInfo .infoOne .rate span{
        font-size: 10px;
    }
    .adidasBlackT .topSide .productInfo .infoOne .rate img{
        width: 10px;

    }
    .adidasBlackT .topSide .productImgs .imgTop > div .img360 img{
        width: 25px;
        height: 25px;
        
    }
    .adidasBlackT .topSide .productImgs .imgBottm .sliderImg{
        width: 30px;
        height: 30px;
    }
    .adidasBlackT .topSide .productInfo .infoOne .name img{
        width: 40px;
        height: 30px;
    }
    .adidasBlackT .topSide .productInfo .infoOne .name h3{
        font-size: 10px;
    }
    .adidasBlackT .topSide .productInfo .infoOne .name p{
        font-size: 9px;
    }
    .adidasBlackT .topSide .productInfo .infoOne .rate p{
        font-size: 10px;
    }
    .adidasBlackT .topSide .productInfo .infoOne .price h2{
        font-size: 10px;
        margin: 0;
    }
    .adidasBlackT .topSide .productInfo .infoOne .price s{
        font-size: 10px;
        margin: 0;
    }
    .adidasBlackT .topSide .productInfo .sizes h2{
        font-size: 10px;
    }
    .adidasBlackT .topSide .productInfo .sizes label p{
        width: 15px;
        height: 15px;
        font-size: 4px;
        
    }
    .adidasBlackT .topSide .productInfo .sizes input:checked + p{
        width: 15px;
        height: 15px;
        font-size: 4px;
        
    }
    .adidasBlackT .topSide{
        width: 100%;
    }
    .adidasBlackT .topSide .productInfo .colors h2{
        font-size: 10px;
    }
    .adidasBlackT .topSide .productInfo .colors input:checked + .imge{
        width: 20px;
        height: 20px;
    }
    .adidasBlackT .topSide .productInfo .colors label img{
        width: 20px;
        height: 20px;
    }
    .adidasBlackT .topSide .productInfo .quantity h2{
        font-size: 10px;
    }
    .adidasBlackT .topSide .productInfo .quantity .counter{
        width: 120px;
        height: 30px;
    }
    .adidasBlackT .topSide .productInfo .quantity .counter span{
        width: 25px;
        height: 25px;
    }
    .adidasBlackT .topSide .productInfo .quantity .buttons .cart{
        height: 30px;
        font-size: 10px;
    }
    .adidasBlackT .topSide .productInfo .quantity .buttons .store{
        height: 30px;
        font-size: 8px;
    }
    .adidasBlackT .topSide .productInfo .infoOne .price{
        width: 100%;
    }
    .adidasBlackT .topSide .productInfo .sizes label{
        margin: 3px;
    }
    .adidasBlackT .bottomSide .bottomHeader h1{
        font-size: 14px;
    }
    .adidasBlackT .bottomSide .bottomHeader p{
        font-size: 10px;
    }
    .adidasBlackT .bottomSide .bottomContent .similarCart img.imgProduct{
        width: 80px;

    }
    .adidasBlackT .bottomSide .bottomContent .similarCart h6{
        font-size: 10px;
    }
    .adidasBlackT .bottomSide .bottomContent .similarCart .priceLogo .price p{
        font-size: 10px;
    }
    .adidasBlackT .bottomSide .bottomContent .similarCart .priceLogo .price div s{
        font-size: 8px;
    }
    .adidasBlackT .bottomSide .bottomContent .similarCart .priceLogo .price div span{
        width: 30px;
        margin-left: 10px;
        margin-right: 5px;
    }
    .adidasBlackT .bottomSide .bottomContent .similarCart .priceLogo .price div span p{
        font-size: 8px;
    }
    .adidasBlackT .bottomSide .bottomContent .similarCart .priceLogo img{
        width: 30px;
        

    }
    .adidasBlackT .bottomSide .bottomContent .similarCart .rate img {
        width: 10px;
    }
    .adidasBlackT .bottomSide .bottomContent .similarCart .rate span{
        font-size: 10px;
    }
    .adidasBlackT .bottomSide .bottomContent .similarCart .picked label{
        font-size: 8px;
    }
    .adidasBlackT .bottomSide .bottomContent .similarCart .picked span{
        font-size: 8px;
    }
    .adidasBlackT .bottomSide .bottomContent .similarCart .imgs .centerImg .img360{
        width: 20px;
        height: 20px;
        top: 5px;
        left:5px;
    }
    .adidasBlackT .bottomSide .bottomContent .similarCart .imgs .centerImg .img360 img {
        width: 15px;
        height: 15px;
        
    }
}
@media screen and (max-width:768px) 
{
    .adidasBlackT .bottomSide{
        width: 95%;
    }    
}